<div class="row my-5">
  <div class="col-12">
    <div class="container">
      <div id="about">
        <h2>About Me</h2>
        <p> I'm a developer currently living Tokyo. I study Japanese and code in my free time. Here are some of my past projects, as well as what I'm working on! </p>
      </div>
    </div>
  </div>
</div>
